<h1>Créer une équipe</h1>
<p>Création d'une nouvelle équipe</p>

<% if @equipe.invalid? %>
	<div class="alert-danger">
		<% @equipe.errors.full_messages.each do |msg| %>
			<%= msg %>
		<% end %>
	</div>
<% end %>

<%= form_for @equipe do |f| %>
  <div class="mb-3">
    <div class="form-label"><%= f.label :nom %></div>
    <%= f.text_field :nom, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <div class="form-label"><%= f.label :ville %></div>
    <%= f.text_field :ville, class: 'form-control' %>
  </div>
  <div class="mb-3">
  <%= f.submit %>
  </div>
<% end %>
