<h1>Joueur Edition</h1>
<p>Modifier un joueur</p>

<% if @joueur.invalid? %>
	<div class="alert-danger">

		<% @joueur.errors.full_messages.each do |msg| %>
			<%= msg %>
		<% end %>
	</div>
<% end %>

<%= form_for @joueur do |f| %>
  <%= f.label :nom %>:
  <%= f.text_field :nom, class: 'form-control' %><br />

  <div class="mb-3">
    <div class="form-label"><%= f.label :poste %></div>
    <%= f.select(:poste, ["Heal", "Tank", "DPS"], class: 'form-control') %>
  </div>

  <div class="mb-3">
  <div class="form-label"><%= f.label :equipe %></div>

  <%= f.collection_select( :equipes_id, Equipe.all, :id, :nom, prompt: true) %>
  </div>

  <%= f.submit %>
<% end %>

<script type="text/javascript"> var id_choisi = $( "select#joueur_equipes_id option:checked" ).val(); </script>

<% result=Joueur.where("equipes_id LIKE ?", "#").count() %>
